<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Stack Developer Portfolio</title>
</head>

<body>
    <section>
        <div class="container ">
            <header>
                <a href="#" class="logo">RV</a>
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </header>

            <div class="content">
                <h2>
                    Rahul Varma
                </h2>
                <p>
                    Experienced software engineer with over 2 years of Java development expertise. Focused on delivering
                    reliable code and enhancing application efficiency. Proficient in developing effective solutions aligned
                    with business requirements and user satisfaction.
                </p>
                <a href="#">Read More</a>
            </div>

            <div class="imgBx">
                <img src="/../portfolio/src/assets/images/image1.png">
            </div>

            <ul class="sci">
                <li><a href="#"><img src="../../../assets/images/fb.jpg"></a></li>
                <li><a href="#"><img src="../../../assets/images/fb.jpg"></a></li>
                <li><a href="#"><img src="../../../assets/images/fb.jpg"></a></li>
            </ul>

            <!-- <p class="copyrightText">
                Copyright | 2024 Rahul Varma. All Rights Reserved.
            </p> -->

        </div>
    </section>
</body>