<section id="about" class="section" style="background-color: beige;">
    <div class="container">
        <div class="content" style="margin-top: 15%;">
            <h2>About Me</h2>
            <p class="intro">Welcome to my portfolio! I am a passionate software engineer dedicated to creating efficient and user-friendly applications.</p>
        </div>
        <div class="image">
            <img src="../../../assets/images/3411109.jpg" alt="Profile Image">
        </div>
    </div>
</section>

<section id="about" class="section" style="background-color: beige;">
    <div class="container">
        <div class="content" style="margin-top: 15%;">
            <h2>Projects</h2>
            <p class="intro">Welcome to my portfolio! I am a passionate software engineer dedicated to creating efficient and user-friendly applications.</p>
        </div>
        <div class="image">
            <img src="../../../assets/images/3411109.jpg" alt="Profile Image">
        </div>
    </div>
</section>

<section id="about" class="section" style="background-color: beige;">
    <div class="container">
        <div class="content" style="margin-top: 15%;">
            <h2>Skills</h2>
            <p class="intro">Welcome to my portfolio! I am a passionate software engineer dedicated to creating efficient and user-friendly applications.</p>
        </div>
        <div class="image">
            <img src="../../../assets/images/3411109.jpg" alt="Profile Image">
        </div>
    </div>
</section>


